html, body {
    height: 100%;
    display: grid;
    background-color: #191469;
}

#sad{   
    font-size: 10em;
    z-index: -1;

} 

#tear {
    position: relative;
    font-size: 5em;
    margin-top: -380px;
    margin-left: 120px;
    
    animation: crying 2s  infinite; 
} 

@keyframes crying {
    from {
 
    }
    to {
        transform:translate(20px,80px);
      
    }
} 
